.header__logo {
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 10px; }
  .header__logo:hover {
    opacity: 0.6; }
  .header__logo:active {
    opacity: 0.3; }

.header__toggle {
  width: 70px;
  height: 45px;
  border: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  padding-left: 20px;
  cursor: pointer; }
  .header__toggle:active span {
    opacity: 0.3; }

.toggle__line {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
  background-color: #3b3b3b; }

.toggle__line_first {
  top: 15px; }

.toggle__line_third {
  bottom: 13px; }

.toggle_active .toggle__line_second {
  -webkit-transform: translateX(0px) rotateZ(45deg);
      -ms-transform: translateX(0px) rotate(45deg);
          transform: translateX(0px) rotateZ(45deg);
  width: 34px;
  opacity: 0.1; }

.toggle_active .toggle__line_first {
  width: 34px;
  -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg); }

.toggle_active .toggle__line_third {
  width: 34px;
  -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg); }

.header__nav, .header__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__nav-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__link-wrapper--first {
  border-top: solid 0.5px #bbbbbb; }

.header__link-wrapper {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  border-bottom: solid 0.5px #bbbbbb;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  color: #313131;
  font-size: 18px;
  line-height: 24px; }
  .header__link-wrapper:hover {
    opacity: 0.6; }
  .header__link-wrapper:active {
    opacity: 0.3; }

.header__login {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: solid 0.5px #bbbbbb;
  background-color: #fff;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #313131;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px; }
  .header__login img {
    margin-right: 13px; }
  .header__login:hover {
    opacity: 0.6; }
  .header__login:active {
    opacity: 0.3; }

.header__user-nav {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__login--basket {
  padding-right: 13px; }
  .header__login--basket img {
    margin-right: 12px; }

.header__basket-push {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #F73A3A;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  margin-left: -20px;
  margin-top: -10px;
  margin-right: 12px; }

@media (min-width: 655px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 55px;
    max-width: 1440px;
    margin: 0 auto; }
  .header__logo {
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 0; }
  .header__logo-image {
    width: 71px;
    height: 47px; }
  .header__nav {
    padding: 0 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__toggle {
    display: none; }
  .header__nav-wrapper {
    width: 100%;
    margin-left: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__link-wrapper {
    border: none;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400; }
  .header__login--basket, .header__login {
    padding-right: 0; }
    .header__login--basket img, .header__login img {
      margin-right: 0; }
  .header__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 140px; }
  .header__nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    max-width: 500px;
    min-width: 400px; }
  .header__login {
    height: 50px;
    border: none;
    font-size: 0px;
    line-height: 0px; }
  .login-icon {
    width: 27px;
    height: 27px; }
  .basket-icon {
    width: 30px;
    height: 30px; }
  .search-icon {
    width: 31px;
    height: 27px; }
  .header__basket-push {
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 12px;
    margin-left: -12px;
    margin-top: -10px;
    margin-right: 0px; } }

@media (min-width: 1080px) {
  .header {
    padding-left: 50px;
    padding-right: 50px; } }

.header-banner {
  width: 100%;
  list-style: none;
  height: 345px; }

.header-banner__item {
  position: relative;
  height: 345px;
  background-size: cover;
  background-position-x: -230px;
  background-position-y: center;
  background-image: url("../img/header-banner-1.jpg"); }

.slick-dots {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: -35px;
  z-index: 3;
  position: relative; }

.slick-dots button {
  border: none;
  content: "";
  font-size: 0px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin: 0 18px 0 0;
  outline: none;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E8E8));
  background: -o-linear-gradient(top, #FFFFFF 0%, #E9E8E8 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #E9E8E8 100%); }

.slick-dots li[class="slick-active"] button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E8E8));
  background: -o-linear-gradient(top, #FFFFFF 0%, #E9E8E8 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #E9E8E8 100%);
  outline: none; }

.header-banner__item {
  padding: 30px 10px 50px 130px;
  color: #fff; }
  .header-banner__item h2 {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase; }
  .header-banner__item p {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.005em; }
    .header-banner__item p b {
      font-weight: 400;
      text-transform: uppercase; }
  .header-banner__item button {
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color: rgba(49, 49, 49, 0.8);
    font-size: 12px;
    border: none;
    bottom: 50px;
    margin-top: 40px; }

@media (min-width: 720px) {
  .header-banner {
    height: 525px; }
  .header-banner__item {
    height: 525px;
    padding: 108px 10vw 125px 50vw;
    background-position-x: 0; }
    .header-banner__item h2 {
      font-size: 64px; }
    .header-banner__item p {
      display: block;
      max-width: 450px;
      margin-top: 40px;
      font-size: 20px;
      font-weight: 300;
      line-height: 32px; }
    .header-banner__item button {
      width: 200px;
      height: 50px;
      line-height: 50px;
      border-radius: 15px;
      font-size: 15px; }
  .slick-dots {
    margin-top: -40px; }
  .slick-dots button {
    height: 10px;
    width: 10px;
    margin: 0 50px 0 0; } }

.page-footer {
  background-color: #EBE7E7;
  width: 100%;
  padding: 30px 0 20px 0; }

.footer__wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px; }

.footer__email {
  grid-column-start: 1;
  grid-column-end: 3; }

.footer__email-description {
  font-size: 15px;
  line-height: 18px;
  max-width: 390px;
  margin: 0 auto; }

.footer__input-wrapper {
  max-width: 401px;
  margin: 0 auto;
  margin-top: 20px;
  height: 44px;
  background-color: #CCC7C7; }

.footer__input {
  width: 100%;
  height: 34px;
  background-color: #CCC7C7;
  border: none;
  text-align: center;
  color: #313131; }

.footer__input-line {
  border: none;
  height: 0.5px;
  width: 90%;
  margin-left: 5%;
  background-color: #313131; }

.footer__button {
  max-width: 401px;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  border: none;
  width: 100%;
  height: 44px;
  text-align: center;
  background-color: #CCC7C7;
  color: #313131; }

.footer__link-list {
  list-style: none;
  margin: 0 auto; }

.footer__link-item:hover {
  opacity: 0.6; }

.footer__link-item:active {
  opacity: 0.3; }

.footer__link {
  color: #313131;
  text-decoration: none;
  line-height: 25px;
  font-weight: 400; }

.footer__contacts-list {
  width: 105%;
  list-style: none;
  font-size: 16px;
  margin: 0 auto; }

.footer__contacts-item {
  margin-bottom: 10px; }

@media (min-width: 900px) {
  .footer__wrapper {
    grid-template-columns: 63% 35%;
    grid-column-gap: 2%; }
  .footer__email {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: auto; }
  .footer__link-list {
    max-width: 500px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__contacts-list {
    width: 100%;
    max-width: 700px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .footer__contacts-item--adr {
    grid-column-start: 1;
    grid-column-end: 3; } }

@media (min-width: 1080px) {
  .footer__wrapper {
    padding-left: 50px;
    padding-right: 50px; } }

.search-input--mobile {
  width: calc(100% - 20px);
  margin: 10px;
  height: 49px;
  border-radius: 10px;
  background: -o-linear-gradient(358.93deg, #FFFFFF 19.2%, #F7F7F7 93.9%);
  background: linear-gradient(91.07deg, #FFFFFF 19.2%, #F7F7F7 93.9%);
  -webkit-box-shadow: inset 15px 15px 32px rgba(241, 241, 241, 0.61);
          box-shadow: inset 15px 15px 32px rgba(241, 241, 241, 0.61);
  border: 2px solid #F0F0F0;
  padding-left: 15px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 95%;
  outline: none; }

@media (min-width: 720px) {
  .search-input--mobile {
    display: none; } }

.category-item {
  min-width: 100px;
  width: 100%;
  max-width: 175px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s; }
  .category-item .category-image {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 175px;
    top: 50%;
    margin-top: -110px;
    position: absolute; }
  .category-item .category-icon {
    width: 25%;
    height: 25%;
    margin-top: 37%;
    z-index: 3;
    position: relative; }
  .category-item .category-name {
    position: relative;
    z-index: 3;
    color: #313131;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px; }
  .category-item:hover {
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.44);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.44); }

.category-wrp {
  max-width: 945px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 20px);
  margin: 25px 10px 0; }

@media (min-width: 520px) {
  .category-wrp {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 720px) {
  .category-wrp {
    margin: 50px auto 0;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (min-width: 940px) {
  .category-item {
    max-width: 224px;
    height: 280px; }
    .category-item .category-image {
      width: 224px;
      top: 0%;
      margin-top: 0px; }
    .category-item .category-icon {
      width: 29%;
      height: 29%;
      margin-top: 110px; }
    .category-item .category-name {
      font-size: 25px;
      margin-top: 20px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'HelveticaNeueCyr', Helvetica, sans-serif;
  font-weight: 300; }

.page {
  background-color: #E5E5E5;
  color: #313131; }
