@import "blocks/header.scss";
@import "blocks/header-desktop.scss";
@import "blocks/footer.scss";
@import "blocks/search-input.scss";
@import "blocks/category.scss";
@import "mixins.scss";
@import "blocks/modal.scss";
//index
@import "blocks/index/index-banner.scss";
@import "blocks/index/advantages.scss";
@import "blocks/index/popular-product.scss";
@import "blocks/index/promo.scss";
@import "blocks/index/banner.scss";
@import "blocks/index/sale.scss";
@import "blocks/index/about.scss";
//category
@import "blocks/category/category.scss";
//subcategory
@import "blocks/subcategory/subcategory.scss";
@import "blocks/subcategory/control.scss";
//product
@import "blocks/product/product.scss";
@import "blocks/product/price.scss";
@import "blocks/product/prod-descr.scss";
//basket
@import "blocks/basket/basket-card.scss";
@import "blocks/basket/basket-form.scss";
//order
@import "blocks/order/order.scss";
@import "blocks/order/order2.scss";
@import "blocks/order/order3.scss";
@import "blocks/order/order4.scss";
@import "blocks/order/order-nav.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HelveticaNeueCyr', Helvetica, sans-serif;
  font-weight: 300;
}

.page{
  background-color: #E5E5E5;
  color: #313131;
}

.h2-center{
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
}

.h2-left{
  text-align: left;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  color: #FB565D;
}


@media(min-width: 768px){
  .h2-center{
    font-size: 30px;
    line-height: 30px;
  }
  .h2-left{
    font-size: 30px;
    line-height: 30px;
  }
}

.input{
  height: 49px;
  border-radius: 10px;
  background: linear-gradient(91.07deg, #FFFFFF 19.2%, #F7F7F7 93.9%);
  box-shadow: inset 15px 15px 32px rgba(241, 241, 241, 0.61);
  border: 2px solid #F0F0F0;
  padding-left: 15px;
  outline: none;

}


.button-red, .card-button{
 transition: .3s ease;
 &:hover{

    box-shadow: 0px 0px 10px #FB565D;
 }
}

.breadcrumb{
  font-size: 12px;

  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff !important;
  .breadcrumb-item a{
    color: rgba(49, 49, 49, 0.8);
    &:hover{
      color: rgba(49, 49, 49, 0.8);
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>' !important;
  font-size: 12px;
  padding-right: 4px !important;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 4px !important;
  font-size: 12px;

}

.breadcrumb-item.active {
  font-size: 12px;

  color: #FB565D !important;
}

.header-banner-btn{
  transition: .2s ease-out;
  &:hover{
    line-height: 48px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #FB565D;
    font-weight: 500;
  }
}


@media(max-width: 720px){
  .header-banner-btn{
    &:hover{
      line-height: 38px;
    }
  }
}

.btn-red{
  color: #fff;
  background-color: #FD585E;
  border-radius: 10px;
  height: 46px;
  line-height: 46px;
  //width: 100%;
  transition: .3s;
  border: 1px solid #fff;
  //margin-top: 15px;
  &:hover{
      border-color: #FC3F45;
      background-color: #FC3F45;
      font-size: 17px;
      //color: #FD585E;
  }
}