@import "blocks/header.scss";
@import "blocks/index/index-banner.scss";
@import "blocks/footer.scss";
@import "blocks/search-input.scss";
@import "blocks/category.scss";
@import "mixins.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HelveticaNeueCyr', Helvetica, sans-serif;
  font-weight: 300;
}

.page{
  background-color: #E5E5E5;
  color: #313131;
}

