.category-item {
  min-width: 100px;
  width: 100%;
  max-width: 175px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  text-align: center;
  transition: ease-out .2s; }
  .category-item .category-image {
    display: block;
    object-fit: cover;
    width: 175px;
    top: 50%;
    margin-top: -110px;
    position: absolute; }
  .category-item .category-icon {
    width: 25%;
    height: 25%;
    margin-top: 37%;
    z-index: 3;
    position: relative; }
  .category-item .category-name {
    position: relative;
    z-index: 3;
    color: #313131;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px; }
  .category-item:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.24); }

.category-wrp {
  max-width: 945px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 20px);
  margin: 25px 10px 0; }

@media (min-width: 520px) {
  .category-wrp {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 720px) {
  .category-wrp {
    margin: 0px auto 0;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (min-width: 940px) {
  .category-item {
    max-width: 224px;
    height: 280px; }
    .category-item .category-image {
      width: 224px;
      top: 0%;
      margin-top: 0px; }
    .category-item .category-icon {
      width: 29%;
      height: 29%;
      margin-top: 110px; }
    .category-item .category-name {
      font-size: 25px;
      margin-top: 20px; } }

@media (min-width: 1367px) {
  .category-wrp {
    margin: 35px auto 0; } }
