.header-banner {
  width: 100%;
  list-style: none;
  height: 345px; }

.header-banner__item {
  position: relative;
  height: 345px;
  background-size: cover;
  background-position-x: -230px;
  background-position-y: center;
  background-image: url("../img/header-banner-1.jpg"); }

.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: -35px;
  z-index: 3;
  position: relative; }

.slick-dots button {
  border: none;
  content: "";
  font-size: 0px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin: 0 9px;
  outline: none;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #FFFFFF 0%, #E9E8E8 100%); }

.slick-dots li[class="slick-active"] button {
  background: linear-gradient(180deg, #FFFFFF 0%, #E9E8E8 100%);
  outline: none; }

.header-banner__item {
  padding: 10vw 15px 50px 30vw;
  color: #fff; }
  .header-banner__item h2 {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase; }
  .header-banner__item p {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.005em; }
    .header-banner__item p b {
      font-weight: 400;
      text-transform: uppercase; }
  .header-banner__item button {
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color: rgba(49, 49, 49, 0.8);
    font-size: 12px;
    border: none;
    margin-top: 10px; }

@media (min-width: 720px) {
  .header-banner {
    height: 445px;
    margin-bottom: 0 !important; }
  .header-banner__item {
    height: 400px;
    padding: 60px 2vw 125px 50vw;
    background-position-x: 0; }
    .header-banner__item h2 {
      font-size: 64px; }
    .header-banner__item p {
      display: block;
      max-width: 450px;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      line-height: 32px;
      margin-bottom: 10px; }
    .header-banner__item button {
      width: 200px;
      height: 50px;
      line-height: 50px;
      border-radius: 15px;
      font-size: 15px; }
  .slick-dots {
    margin-top: -50px; }
  .slick-dots button {
    height: 10px;
    width: 10px;
    margin: 0 25px; } }

@media (min-width: 900px) {
  .header-banner__item {
    padding: 70px 10vw 125px 50vw; } }

@media (min-width: 1367px) {
  .header-banner {
    height: 525px;
    margin-bottom: 0 !important; }
  .header-banner__item {
    padding: 90px 10vw 125px 50vw;
    height: 480px; }
    .header-banner__item p {
      margin-top: 40px;
      margin-bottom: 30px; } }
