.h2-adv{
    margin: 50px 0;
}

.adv-wrp{
    display: flex;
    flex-wrap: wrap;
}

.adv-item{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    img{
        margin-bottom: 15px;
    }
    h4{
        font-weight: 600;
        color: #FF5257;
        font-size: 16px;
        line-height: 16px;
    }
    p{
        font-size: 12px;
        line-height: 12px;
        max-width: 210px;
        margin: 0 auto;
    }
}

@media(min-width:350px){
    .adv-item{
        width: 48%;
        margin: 0 auto 20px;
    }
}

@media(min-width:768px){
    .h2-adv{
        margin: 75px 0;
    }
    
    .adv-wrp{
        max-width: 1440px;
        margin: 0 auto;
        background-image: url('../img/dashed-line.svg');
        background-size: cover;
        background-position: center;
    }
    .adv-item{
        width: 33%;
        margin: 0 auto 20px;
        img{
            width: 53px;
            height: 53px;
            margin-bottom: 30px;
        }
        h4{
            font-size: 20px;
            line-height: 20px;
        }
        p{
            font-size: 15px;
            line-height: 15px;
            max-width: 180px;
        }
        margin-bottom: 10px;
    }
    .adv-item--4{
       
    }
    .adv-item--5{
        
     }
     .adv-item--1{
         order: 1;
     }
     .adv-item--5{
        order: 2;
    }
    
    .adv-item--4{
        order: 3;
    }

    .adv-item--2{
        order: 4;
        h4{
            margin-left: -10px;
        }
        padding-left: 15%;
       margin-top: -40px;
    }

    .adv-item--3{
        order: 5;
        margin-top: -40px;
        padding-right: 15%;
    }
}