.banner-wrp{
    margin-top: 25px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.banner-1__wrp{
    background-image: url('../img/banner-1.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 0 auto 0;
    max-width: 380px;
    height: 310px;
    padding: 20px 30px;
}

.banner-2__wrp{
    margin: 0 auto;
    max-width: 380px;
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 310px;
    padding: 20px 30px;
}

.banner-1__content, .banner-2__content{
    height: 100%;
    backdrop-filter: blur(5px);
    padding: 50px 15px;
   b{
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
   }
   p{
    padding-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    i{
        font-style: unset;
        font-weight: 600;
        color: #FD585E;
    }
   }
   a{
       color: #fff;
       text-align: center;
       width: 200px;
       height: 45px;
       margin-top: 40px;
       display: block;
       line-height: 45px;
       background-color: #FD585E;
       border-radius: 10px;
       &:hover{
           color: #fff;
           text-decoration: none;
       }
   }

}

.banner-2__content{
    span{
        text-transform: uppercase;
        font-size: 15px;
        color: #FD585E;
    }
    p{
        padding-top: 5px;
    }
    a{
        margin-top: 20px;
    }
}

@media(min-width:940px){
    .banner-wrp{
        margin-top: 80px;
        display: flex;
        
        justify-content: space-between;
        align-items: center;
    }
    .banner-wrp-index{
        flex-direction: row !important;
    }
    .banner-1__wrp{
        width: 45%;
        max-width: 545px;
        height: 435px;
        padding: 60px 30px;
        div b{
            font-size: 30px;
            line-height: 30px;
        }
    }
    
    .banner-2__wrp{
        max-width: 545px;
        width: 45%;
        height: 490px;
        padding: 90px 35px;
    }
    .banner-1__content{
        p{
            max-width: 250px;
        }
    }
    .banner-1__content, .banner-2__content{
        background: rgba(255, 255, 255, 0.1);
       b{
        font-size: 40px;
        line-height: 40px;
       }
       p{
        padding-top: 15px;
        font-size: 20px;

       }
    
    }
    .banner-2__content{
        padding-left: 50px;
        padding-top: 30px;
        b{
            padding-bottom: 20px;
        }
        span{
            text-transform: uppercase;
            font-size: 25px;
            color: #FD585E;
            font-weight: 600;
            display: inline-block;
            margin-bottom: -200px;
            line-height: 0px;
            margin-top: 20px;
            
        }
        p{
            padding-top: 5px;
        }
        a{
            margin-top: 20px;
        }
    }
    .banner-2__wrp{
        padding-top: 86px;
    }
}