.header-banner{
    width: 100%;
    list-style: none;
    height: 345px;

}

.header-banner__item{
    position: relative;
    height: 345px;
    background-size: cover;
    background-position-x: -230px;
    background-position-y: center;
    background-image: url('../img/header-banner-1.jpg');
}

.slick-dots{
    text-align: center;
    display: flex;
    justify-content: center; 
    list-style: none; 
    margin-top: -35px;
    z-index: 3;
    position: relative;
}

.slick-dots button {
    border: none; // без рамки
    content: "";
    font-size: 0px;
    border-radius: 50%; // радиус закругления
    height: 7px; // высота точки
    width: 7px; // ширина точки
    margin: 0 18px 0 0; // отступы между точками
    outline: none; // убираем обводку
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #FFFFFF 0%, #E9E8E8 100%);
}       

.slick-dots li[class="slick-active"] button {
    background: linear-gradient(180deg, #FFFFFF 0%, #E9E8E8 100%);
    outline: none;

} 

.header-banner__item{
    padding: 30px 10px 50px 130px;
    color: #fff;
    h2{
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
    }
    p{
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: -0.005em;
        b{
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    button{
        width: 170px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        background-color: #fff;
        color: rgba(49, 49, 49, 0.8);
        font-size: 12px;
        border: none;
        bottom: 50px;
        margin-top: 40px;
    }
}

@media(min-width:720px){
    .header-banner{
        height: 525px;

    }
    .header-banner__item{
        height: 525px;
        padding: 108px 10vw 125px 50vw;
        background-position-x: 0;
        h2{
            font-size: 64px;
        }
        p{
            display: block;
            max-width: 450px;
            margin-top: 40px;
            font-size: 20px;
            font-weight: 300;
            line-height: 32px;
        }
        button{
            width: 200px;
            height: 50px;
            line-height: 50px;
            border-radius: 15px;
            font-size: 15px;
        }
    }
    .slick-dots{
        margin-top: -40px;
    }
    .slick-dots button {
         height: 10px; // высота точки
         width: 10px; // ширина точки
         margin: 0 50px 0 0; // отступы между точками
     }     
}