.card-sale{
    background-color: #FD585E;
}

.price-wrp{
    display: flex;
    justify-content: space-between;
}

.old-price{
    font-weight: 300 !important;
    text-decoration: line-through;
}

.new-price{
    color: #FD585E !important;
}