.category-header{
    background-image: url('../img/category-1-bg.jpg');
    height: 150px;
    background-size: cover;
    background-position: center;
    background-position-x: 60%;
    p{
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        color: #fff;
        padding-left: 40px;
        line-height: 150px;
    }
}

.category__left{
    display: none;
}
.category-page__wrp{
    margin-bottom: 50px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

}
.category__right{
    width: 100%;
}
.category__right-list{
    margin: 0 auto;
    list-style: none;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    a{
        padding-top: 10px;
        height: 145px;
        border: 1px solid #F4F4F4;
        width: 145px;
        text-align: center;
        margin: 10px auto;
        transition: .2s;
        border-radius: 8px;
        &:hover{
            box-shadow: 0px 0px 17px rgba(253, 88, 94, 0.5);
            border-color: #fff;
            text-decoration: none;
        }
        p{
            color: #313131;
            font-size: 14px;
            display: block;
            line-height: 14px;
            padding: 5px 3px 0;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.cat-page__img-wrp{
    height: 90px;
    width: 100%;
    img{
        object-fit: cover;
        width: auto;
        height: 100%;
    }
}

@media(min-width: 520px){
    .category__right-list{
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media(min-width: 800px){
    .category__left{
        margin-top: 10px;
        margin-bottom: 10px;
        background: #F8F8F8;
        border-radius: 10px;
        height: auto;
        display: block;
        h4{
            padding-left: 30px;
            color: #FD585E;
            margin: 20px 0;
        }
        h4::after{
            width: 119px;
            height: 2px;
            background-color: #FD585E;
            display: block;
            content: '';
        }
    }
    .category-page__wrp{
        padding: 0 20px;
        display: flex;
    }
    .category__list{
        margin-left: 40px;
        width: 200px;
        color: #FD585E;
        a{
            display: block;
            padding-left: 10px;
            margin-bottom: 15px;
            color: #313131;
            &:hover{
                color: #FD585E;
                text-decoration: none;
            }
        }
    }
}

@media(min-width: 960px){
    .category__left{
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .category-header{
        height: 190px;
        background-size: cover;
        background-position: center;
        background-position-x: 60%;
        p{
            font-size: 64px;
            line-height: 64px;
            text-transform: uppercase;
            color: #fff;
            padding-right: 600px;
            line-height: 190px;
            text-align: center;
        }
    }

    .category__right-list{
        a{
            padding-top: 20px;
            height: 190px;
            width: 175px;
            margin: 7px auto;
            p{
                font-weight: 400;
                padding: 20px 3px 0;
            }
            .cat-page__img-wrp{
                height: 115px;
            }
        }
    }

}

@media(min-width: 1110px){
    .category__right-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}

@media(min-width: 1220px){
    .category__right-list{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }
}