@charset "UTF-8";
.product-name {
  font-size: 18px;
  line-height: 19px;
  font-weight: 600;
  margin-top: 30px; }

.product-counter {
  margin-right: 40px;
  width: 88px;
  height: 45px;
  display: flex;
  justify-content: center;
  line-height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px; }
  .product-counter input {
    width: 50px;
    text-align: center;
    height: 43px;
    border: none; }
  .product-counter span {
    cursor: pointer; }

.product-price__wrp {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 380px;
  margin-top: 60px; }

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  color: rgba(49, 49, 49, 0.9); }

.product-bonus--hover {
  border-radius: 10px;
  border-top-right-radius: 0%;
  position: absolute;
  opacity: 0;
  transition: .3s;
  z-index: -1;
  width: 219px;
  height: 70px;
  font-size: 12px;
  line-height: 13px;
  padding: 8px 8px;
  left: -110px;
  top: 13px;
  background-color: #fff;
  border: 1px solid #FE5E64; }
  .product-bonus--hover p {
    color: #313131;
    font-weight: 400 !important; }
  .product-bonus--hover span {
    font-weight: 400 !important;
    color: #FD585E; }

.product-banner--hover {
  z-index: -1;
  position: absolute;
  transition: .3s;
  opacity: 0;
  left: 40px;
  top: 20px;
  color: #313131;
  width: 220px;
  height: 35px;
  font-size: 10px;
  line-height: 35px;
  background-color: #fff;
  border: 1px solid #FE5E64;
  border-radius: 10px; }

.product-bonus {
  cursor: pointer;
  position: absolute;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: #FD585E;
  align-items: center;
  top: -50px;
  right: 0; }
  .product-bonus p {
    font-weight: 500; }
  .product-bonus img {
    margin-bottom: 40px;
    margin-left: 7px; }
  .product-bonus:hover .product-bonus--hover {
    opacity: 1;
    z-index: 3; }

.rating-area {
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 125px; }

.rating-area:not(:checked) > input {
  display: none; }

.rating-area:not(:checked) > label {
  float: right;
  width: 19px;
  padding: 0;
  cursor: pointer;
  font-size: 19px;
  line-height: 19px;
  color: lightgrey; }

.rating-area:not(:checked) > label:before {
  content: '★'; }

.rating-area > input:checked ~ label {
  color: gold; }

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold; }

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold; }

.rate-area > label:active {
  position: relative; }

.product-small-talk {
  margin-top: 10px; }
  .product-small-talk p {
    font-size: 14px;
    line-height: 14px;
    color: rgba(49, 49, 49, 0.8);
    margin-bottom: 10px; }

.color-wrp--product {
  width: 150px;
  margin-top: 35px;
  position: relative; }
  .color-wrp--product p {
    font-size: 16px;
    line-height: 16px; }

.product-buy-btn {
  width: 235px;
  height: 45px;
  background: #FD585E;
  border-radius: 10px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  color: #fff; }
  .product-buy-btn:hover {
    color: #fff;
    text-decoration: none;
    font-size: 19px !important; }

.product-btn-wrp {
  width: 280px;
  margin: 40px auto; }
  .product-btn-wrp span {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;
    margin-bottom: 10px; }
  .product-btn-wrp .prod-one-click {
    margin-left: 45px;
    display: block;
    color: rgba(49, 49, 49, 0.8);
    text-decoration: underline; }

.favorite-check-prod + label {
  margin-top: -15px;
  position: relative;
  transition: .2s;
  top: 0px;
  right: 0px; }
  .favorite-check-prod + label:hover {
    transform: scale(1.1);
    top: -1px;
    right: -1px; }

.favorite-check-prod + label .liked {
  top: 10px;
  right: 13px; }

.favorite-check-prod:checked + label .liked {
  right: -1px;
  max-width: 27px;
  width: 27px;
  height: 27px;
  max-height: 27px;
  top: -1px; }
