.h2-left--cabinet{
    color: #313131 !important;
    margin-top: -25px !important;
    margin-left: 15px;
}

.svg-icon--order{
    //fill: #313131;
   // stroke: #313131;
}

#exit-icon{
    stroke: #555555;
    fill: #555555;
}
#basket-svg-1{
    stroke: #838383;
    opacity: 0.6;
    stroke-opacity: 0.5;
}
#user-icon{

    opacity: 0.4;
    stroke-opacity: 0;
}

#bonus-icon{
    opacity: 0.6;
    stroke-opacity: 0;

}

#bonus-icon{
    margin-left: 2px;
}
.cabinet-nav{
    height: 185px;
    background: #F8F8F8;
    border-radius: 10px;
    width: 265px;
    margin: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.cabinet-nav__btn{
    outline: none;
    font-size: 18px;
    line-height: 21px;
    border: none;
    background-color: rgba(255, 25, 25, 0);
    display: flex;
    color: #595959;
    margin-top: 3px;
    &:hover{
        color: #FD585E;
    }
    svg{
        margin-right: 15px;
        margin-top: -1px;
    }
}

.cabinet-nav__btn--active{
    color: #FD585E;
    text-decoration: underline;
    svg{
        fill: #FD585E !important;
        stroke: #FD585E !important;
    }
}

.cabinet-nav__basket--active{
    color: #FD585E;
    text-decoration: underline;
    svg{
        stroke: #FD585E;
    }
    
}

@media(min-width: 900px){

    .h2-left--cabinet{
        margin-bottom: 30px;
    }
    .cabinet-nav{
        margin: 0 20px;
    }
    .cabinet-body--show{
        height: 45px;
    }
}

@media(min-width: 1240px){
    .cabinet-nav{
        margin: 0 20px 0 0;
    }
    .h2-left--cabinet{
        margin-left: calc(50% - 620px);
    }
}