.cabinet-nav-head{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: rgba(49, 49, 49, 0.8);
    background: #F8F8F8;
    border-radius: 10px;
    width: 160px;
    height: 45px;
    font-weight: 600;
    line-height: 45px;
    margin-left: 20px;
}

.cabinet-content{
    padding-left: 20px;
}

.cabinet-header{
    display: flex;
    
}