

.content-body--2{
    background-color: #fff;
    .cabinet-body--show-head{
        span{
            margin-bottom: 10px;
        }
    }
}

.cabinet-bonus-date{
    margin-left: -2px;
    width: 100px;
}

.cabinet-bonus-header--1, .cabinet-bonus-date {
    width: 100px;
}
.cabinet-body--show-head{
    font-size: 14px;
}
.cabinet-bonus-order-num, .cabinet-bonus-header--2{
    width: 80px;
    text-align: center;
}

.cabinet-bonus-operation, .cabinet-bonus-header--3{
    width: 110px;
    text-align: center;
    margin-left: 0;
}

.cabinet-bonus-order-bonus{
    text-align: center;
    width: 50px;
}

.cabinet-bonus-sum{
    font-weight: 600;
    text-align: right;
    margin-top: 10px;
    padding-right: 0px;
    display: block;
    //max-width: 345px;
    width: 100%;
    span{
        font-weight: 600;
    }
}

@media(min-width: 365px){
    .content-body--2{
        .cabinet-body--show-head{
            width: 100%;
        }
    }
    .cabinet-bonus-header--1, .cabinet-bonus-date {
        text-align: center;
        width: 25%;
    }
    .cabinet-bonus-order-num, .cabinet-bonus-header--2{
        width: 25%;
    }
    .cabinet-bonus-operation, .cabinet-bonus-header--3{
        width: 25%;
    }
    .cabinet-bonus-order-bonus, .cabinet-bonus-header--4{
        width: 25%;
        text-align: center;
    }
    .cabinet-bonus-sum{
        width: 96%;
    }
}

@media(min-width: 900px){
    .content-body--2{
        .cabinet-body--show-head{
            width: 82%;
        }
    }
    .cabinet-bonus-date{
        padding-left: 20px;
    }
    .cabinet-header__2{
        width: 100%;
        padding-right: 20%;
    }
    .cabinet-bonus-sum{
        width: 77%;
    }
    .cabinet-body--show-head{
        font-size: 19px;
    }
    .cabinet-bonus-header--4{
        padding-left: 20px;
    }
    .cabinet-header{
        font-size: 19px;
    }
    .cabinet-bonus-sum{
        font-size: 19px;
    }
}