.order-nav-wrapper{
    margin-top: 0px;
    
    height: 55px;
    background-color: #F2F2F2;
    position: relative;
}

.order-nav{
    display: flex;
    justify-content: space-between;
}
.order-nav__link{
    margin-top: 15px;
    display: flex !important;
    align-items: center;
    border: none;
    justify-content: center;
    color: rgba(49, 49, 49, 0.8);
    background-color: rgba($color: #000000, $alpha: 0);
    p{
        margin-left: 10px;
        margin-bottom: 0;
    }
    
}
.order-nav__line{
    display: none;
}
#geo-icon, #delivery-icon, #contacts-icon, #pay-method, #done-icon{
    fill: #313131;
    stroke: #313131;
    transition: .3s;
}

.order-nav__link--active{
    color: #FD585E;
    
}

.svg-active{
    fill: #FD585E !important;
    stroke: #FD585E !important;
}

@media(max-width:430px){
    .order-nav__link--2{
        margin-top: 4px;
    }
}

@media(min-width:900px){
    .order-nav-wrapper{
        margin-top: 0px;
    }
    .order-nav__line{
        transition: .3s ease-in;
        display: block;
        position: absolute;
        bottom: -20px;
        width: 33%;
        height: 5px;
        border: none;
        margin: 0;
        background: #FD585E;
    }
    .order-nav{
        width: 90%;
        margin: 0 auto;
        position: relative;
    }
    .order-nav__link{
        height: 100%;
        width: 16.5%;
    }
}