.cabinet-inp-wrp {
  margin-bottom: 15px; }
  .cabinet-inp-wrp p {
    margin: 0; }
  .cabinet-inp-wrp .select {
    background-color: #F8F8F8;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -32px; }
  .cabinet-inp-wrp .cabinet-inp-wrp--p {
    margin-top: 35px; }
  .cabinet-inp-wrp .new-select {
    text-decoration: underline; }
  .cabinet-inp-wrp .new-select__list {
    border-radius: 10px;
    margin-top: 5px;
    border: 2px solid #F2F2F2; }

.cabinet-content {
  color: rgba(49, 49, 49, 0.8) !important; }

.img-pen {
  margin-left: 5px; }

.cabinet-content-1 {
  margin-left: 20px; }

.cabinet-mail-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 5px; }

.cabinet-mail-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #313131; }

@media (min-width: 500px) {
  .cabinet-inp-wrp {
    display: flex; }
  .cabinet-inp-wrp .cabinet-inp-wrp--p {
    margin-top: 10px; }
  .cabinet-inp-wrp p {
    margin-right: 10px; }
  .cabinet-inp-wrp .select {
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0; }
  .cabinet-inp-wrp .new-select {
    padding: 7px 15px;
    text-decoration: underline; }
  .cabinet-inp-wrp .new-select::after {
    top: 6px; } }

@media (min-width: 900px) {
  .cabinet-content-1 {
    margin-left: 30px; }
  .cabinet-inp-wrp .select {
    margin-top: 3px !important;
    height: 40px; } }
