.select {
    display: block;
    max-width: 200px;
    width: 100%;
    position: relative;
    margin: -20px 0 15px 20px;
}

.new-select {
    position: relative;
    font-size: 16px;
    //border: 1px solid #ced4da;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    position: absolute;
    top: 45px;
    font-size: 14px;
    left: 0;
    border: 1px solid rgba(49, 49, 49, 0.5);
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    color: #FD585E;
}

.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    background-image: url('../img/select-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}


.noUi-handle::after, .noUi-handle::before{
    display: none !important;
}

.noUi-handle{
    outline: none;
    width: 7px !important;
    border: none !important;
    margin-right: 13px;
    background-color: #FD585E !important;
    height: 7px !important;
    box-shadow: none !important;
    margin-top: 4px;

}

.noUi-connect{
    height: 3px !important; 
    background-color: #FD585E !important;
}

.slider-input{
    width: 65px;
    text-align: center;
    position: relative;
}

.cost-min{
    margin-right: 20px;
}

.filter-btn-wrp{
    margin-bottom: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    button{
        display: inline;
        border: none;

    }
}

.filter-accept-btn{
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    background-color: #EE2D2D;
    color: #fff;
    text-align: center;
    transition: .2s;
    &:hover{
        box-shadow: 0 0 8px #EE2D2D;
    }
}

.filter-cancel-btn{
    transition: .1s;
    img{
        margin-right: 3px;
        margin-bottom: 2px;
    }
    &:hover{
        opacity: 0.6;
    }
    background-color: rgba($color: #000000, $alpha: 0);
}

.dots-wrp{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    width: max-content;
    padding-right: 20px;
    button{
        display: inline-block;
        background-color: #F2F2F2;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        margin-right: 7px;
        transition: .2s;
        &:hover{
            background-color: #e7cfcf;
        }
    }
    span{
        margin-right: 7px;
    }
}

.dots--active{
    background-color: #FD585E !important;
    color: #fff;
}

.dots-next, .dots-prev{
    img{
        padding-bottom: 2px;
    }
}

.dots-next{
    transform: rotate(180Deg);
}