.subcategory__left{
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    background: #F8F8F8;
    border-radius: 10px;
    height: auto;
    display: block;
    h4{
        padding-left: 30px;
        color: #FD585E;
        margin: 20px 0;
    }
    h4::after{
        width: 119px;
        height: 2px;
        background-color: #FD585E;
        display: block;
        content: '';
    }
}
.category-page__wrp{
    padding: 0 20px;
    display: flex;
}
.category__list{
    margin-left: 40px;
    width: 200px;
    color: #FD585E;
    a{
        display: block;
        padding-left: 10px;
        margin-bottom: 15px;
        color: #313131;
        &:hover{
            color: #FD585E;
            text-decoration: none;
        }
    }
}



.subcategory__right-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .card{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.subcategory__left-1{
    padding: 1px 25px;
    h4:after{
        display: none;
    }
    h4{
        padding-left: 0;
    }
    .filter-title{
        width: 140px;
        font-weight: 500;
        display: inline-block;
    }
}

.color-input+.color-label{
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 0;
    line-height: 0;
    position: relative;
  }

.color-label:before{
    content: "";
    top: 0px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    position: absolute;
    background-color: #EE2D2D;
    border: 1px solid #FD585E;
    transition: all 0.5s ease;
  }
  .color-input:checked + label:before{
    box-shadow: 0 0 0 4px rgba(193, 193, 193, 0.6);
  }

.color-wrp{
    width: 250px;
  //  margin: 0 auto;
}

.selected-maker{
    background: #EFEFEF;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 14px;
    color: rgba(62, 62, 62, 0.78);
    letter-spacing: -0.045em;
}

.delete-maker{
    border: none;
    margin-left: 3px;
    margin-right: -2px;
    background-color: rgba($color: #000000, $alpha: 0);
}


.manufacturer-input+.manufacturer-label{
    color: rgba(62, 62, 62, 0.78);
    cursor: pointer;
    width: auto;
    margin-left: 0px;
    margin-bottom: 13px;
    margin-top: 0;
    font-size: 15px;
    padding-left: 20px;
    line-height: 10px;
    position: relative;
  }

.manufacturer-label:before{
    content: "";
    top: 0px;
    left: 0;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #F8F8F8;
    border: 1px solid #CECECE;
    transition: all 0.2s ease;
    background-position: 0 center;
  }
  .manufacturer-input:checked + label:before{
    border-color: #FB565D;
    background-color: #FB565D;  
    background-image: url('../img/sub-check.svg'); 
    background-repeat: no-repeat;
    background-position: center; 
  }

.manufacturer-wrp{
  //  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.filter__show-more{
    border: none;
    background-color: inherit;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.filter-cancel-btn{
    font-size: 13px;
}
.noUi-tooltip{
    display: none !important;
}

.slider-wrp{
    position: relative;
}

.slider-line{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 3px;
    z-index: 1;
    background-color: rgba(193, 193, 193, 0.58);
}

.slider-active-line{
    margin-top: 24px;
    margin-bottom: 25px;
    box-shadow: none !important;
    height: 5px !important;
    border: none !important;
}


.banner-wrp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.banner{
    margin-top: 25px;
    width: 100%;
    max-width: 300px;
    height: 360px;
    border-radius: 10px;
    background-color: #D8D2D2;
}

.subcategory__left-wrp{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.banner-desktop{
    display: none;
}
@media(min-width:500px){
    .subcategory__right-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:700px){
    .subcategory__right-list{
        grid-template-columns: 1fr 1fr;
    }
    .subcategory-page__wrp{
        padding: 0 20px;

        display: grid;
        grid-template-columns: 300px 1fr;
    }
    .grid-col{
        order: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .subcategory__left-wrp{
        order: 2;
    }
    .control-wrp{
        order: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .banner-wrp{
        order: 4;
    }
    .category__right{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        order: 5;
    }
    .dots-wrp{
        order: 6;
    }
    .banner-desktop{
        display: block;
    }
    .banner-mobile{
        display: none;
    }
}

@media(min-width:935px){
    .subcategory__left-wrp{
        margin-top: -45px;
    }
    .subcategory__right-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .control-wrp{
        display: flex;
        justify-content: space-between;
    }
    .select{
        margin: 0;
        margin-top: -7px !important;
        height: 30px;
    }
    .dots-wrp-top{
        margin: 0 !important;
        margin-top: 0;
    }
    .subcategory__left-1{
        margin-bottom: 0;
    }
    .banner-desktop{
        margin-top: 30px;
    }

}
.breadcrumb{
    margin-top: 20px;
    margin-bottom: 40px !important;
}
@media(min-width:1200px){
    .subcategory__right-list{
        margin-left: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .subcategory-page__wrp{
        padding: 0;
        max-width: 1260px;
        margin: 0 auto;
    }

}

.subcategory-prod-text{
    max-width: 1260px;
    padding-left: 20px;
    font-size: 20px;
    //font-weight: 600;
    margin: 40px auto;
    color: rgba(49, 49, 49, 0.8);
}