.basket-prod-wrp{
    width: calc(100% - 30px);
    max-width: 1240px;
    margin: 20px 15px;
    border: 3px solid #F4F4F4;
    border-radius: 10px;
    padding-top: 20px;
}

.basket-header{
    display: flex;
    //justify-content: space-between;
    align-items: center;
    height: 50px;
    color: rgba(49, 49, 49, 0.8);
    font-size: 14px;
    p{
        margin-bottom: 0;
    }
}

.basket-amount-wrp{
    display: flex;
    height: 40px;
    margin-top: -30px;
    width: 55%;
    justify-content: space-between;
    padding-right: 0px;
    align-items: center;
    position: relative;
    padding-right: 20px;
    button{
        border: none;
        background-color: rgba($color: #000000, $alpha: 0);
        position: absolute;
        margin-top: -26px;
        right: 0;
    }
    p{
        margin-bottom: 0;
    }
}
.basket-card--empty{
    width: 30%;
}
.h2-basket{
    padding-left: 15px;
    color: #313131 !important;
    margin-top: -30px;
}

.basket-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.basket-img-wrp{
    //padding-left: 25px;
    text-align: center;
    padding-right: 0px;
    width: 30%;
    border: 1px solid rgba(244, 244, 244, 0.7);
    border-radius: 8px;
    img{
        width: 80%;
        height: auto;
        object-fit: contain;
    }
}
.basket-counter, .basket-cost-wrp{
    margin-top: -10px;
}
.basket-card-name{
    width: 55%;
    padding-right: 20px;
    font-size: 12px;
    span{
        display: block;
        margin-top: 5px;
        font-size: 14px;
    }
}
.prod-article{
    font-style: normal;
}
.basket-counter, .basket-cost-wrp{
}
.basket-counter{
    margin-top: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        margin-right: 0;
    }
}

.basket-cost-wrp{
    padding-right: 20px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    p{
        margin-bottom: 0;
    }
    button{
        border: none;
        background-color: #fff;
        width: 20px;
        position: absolute;
    }
}

.basket-header{
    display: none;
}
.baskes-del-btn{
    margin-top: -35px;
}
.order-nav__link{
    &:hover{
        opacity: 0.6;
        color: inherit;
        text-decoration: none;
    }
}
.order-nav--basket{
    overflow: hidden;
    width: 700px;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}
.basket-body-amount{
   // width: 100px;
    font-weight: 600;
    font-size: 19px;
    span{
        font-size: 16px;
    }
}
.basket-body-cost-mobile, .basket-body-amount-mobile{
    width:60px;
    height: 20px;
    display: inline-block;
}
.basket-body-amount{
    width: 100px;
}
.basket-card{
    margin-bottom: 20px;
}
.basket-body-cost{
    width: 100%;
    position: relative;
    
}
.basket-card-old-price{
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 14px;
    top: -18px;
    color: #FD585E;
    text-decoration: line-through;
}
.basket-footer{
    width: 90%;
    margin: 0 auto;
    .fotm-inp-btn-wrp{
        input{
            width: 100%;
        }
        a{
            width: 100%;
            display: block;
            text-align: center;
            &:hover{
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .order-right-bonus{
        background-color: #fff;
        margin-top: 0;
    }
}

@media(min-width: 490px){
    .basket-header{
        font-size: 18px;
    }
    .basket-prod-wrp{
        width: calc(100% - 34px);
        margin: 17px;
    }
}

@media(min-width: 450px){
    .basket-card-name{
        font-size: 18px;
    }
}
.basket-prod-cost{
    display: inline-block;
}
.basket-body-cost{
    width: 100px;
    display: inline-block;
}
@media(min-width: 750px){
   /* .basket-header{
        display: flex;
        .header-img-cell{
            width: 140px;
        }
        .basket-header-name{
            padding-left: 20px;
        }
        .basket-header-quantity{
            padding-left: 10px;
        }
    }
    .basket-counter{
        justify-content: start;
        padding-left: 10px;
    }
    .header-img-cell, .basket-img-wrp{
        width: 15%;
        max-width: 140px;
        max-height: 160px;
    }
    .basket-prod-wrp{
        padding-left: 20px;
    }
    .basket-header-name, .basket-card-name{
        padding-right: 20px;
        padding-left: 5px;
        width: 50%;
    }

    .basket-card-name{
        padding-right: 0;
        padding-left: 30px;
        font-size: 16px;
        line-height: 18px;
    }
    
    .basket-header-quantity, .basket-counter{
        width: 21%;
    }
    
    .basket-header-cost, .basket-cost-wrp{
        width: 14%;
    }
    .basket-counter{
        margin-right: 0;
    }
    
    .basket-card{
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }
    .basket-body-cost{
        font-size: 20px;
        line-height: 18px;
    }
    .basket-footer{
        width: 90%;
        margin-left: auto;
        margin-right: 15px;
        max-width: 430px;
        .fotm-inp-btn-wrp{
            input{
                width: 52%;
            }
            button, a{
                margin-left: auto;
                width: 45%;
            }
        }
        .basket-form-price-wrp{
            margin-top: 0;
            
            i{
                text-align: center;
                font-weight: 500;
                font-size: 25px;
                margin-top: -4px;
            }
        }
        .order-right-bonus{
            margin-bottom: 20px;
            background-color: #fff;
            margin-top: 0;
        }
    }*/
}

@media(min-width:1240px){
    .basket-prod-wrp{
        margin: 40px auto;
    }
}

.basket-modal-content{
    .modal-content{
        border: 1px solid rgba(230, 230, 230, 0.72);
        border-radius: 10px;
    }
    button{
        position: absolute;
        right: 20px;
        top: 13px;
        z-index: 101;
    }
    .basket-modal-title{
        font-size: 23px;
        line-height: 23px;
        position: relative;
        font-weight: 500;
        &:before{
            width: 25px;
            top: -3px;
            left: -35px;
            height: 23px;
            background-size: contain;
            background-position: center;
            background-image: url('../img/basket-modal.svg');
            background-repeat: no-repeat;
            content: "";
            position: absolute;
        }
        
    }
    .basket-modal-subtitle{
        font-size: 16px;
        line-height: 16px;
        margin-top: 15px;
        color: rgba(49, 49, 49, 0.8);
    }

    .basket-modal-text{
        margin-top: 30px;
        font-size: 18px;
        line-height: 22px;
    color: rgba(49, 49, 49, 0.8);
    }
    .modal-body{
        padding: 45px 45px 25px;
    }
    .basket-modal-text--unregistered{
        display: none;
    }
}

@media(min-width:700px){
    .basket-header{
        margin-bottom: 20px;
        display: flex;
        //padding-left: 10px;
        .header-img-cell{
            width: 101px;
        }
        .basket-header-name{
            width: 30%;
        }
        .basket-header-cost{
            text-align: center;
            width: 12%;
        }
        .basket-header-quantity{
            width: 110px;
        }
        .basket-header-price{
            width: 14%;
        }
        justify-content: space-around;
    }
    .basket-img-wrp{
        order: 1;
        max-width: 101px;
    }
    .basket-card-name{
        width: 30%;
        font-size: 14px;
        order: 2;
        margin-bottom: 0;
    }
    .basket-body-cost{
        width: 100%;
    }
    .basket-cost-wrp{
        text-align: center;
        padding-right: 0;
        width: 12%;
        order: 3;
        .basket-body-cost-mobile{
            display: none;
        }
        .basket-card-old-price{
            position: relative;
            margin-top: -22px;
        }
    }
    .baskes-del-btn{
        margin-top: -4px !important;
    }
    .basket-card--empty{
        display: none;
    }
    .basket-counter, .basket-cost-wrp {
        margin-top: 0px;
    }
    .basket-counter{
        
        order: 4;
        width: 110px;
        margin-top: 0;
    }
    .basket-amount-wrp{
        padding-right: 0;
        order: 5;
        width: 14%;
        .basket-body-amount-mobile{
            display: none;
        }
    }
    .basket-amount-wrp{
        margin-top: 0;
    }



    .basket-footer{
        width: 440px;
        margin-right: 25px;
    }

    .fotm-inp-btn-wrp{
        justify-content: space-between;
        a{
            width: 205px !important;
            margin-left: auto;
        }
        button{
            margin-left: auto !important;
            width: 205px;
            display: inline-block;

            max-width: 205px !important;
        }
        input{
            width: 181px !important;
        }
    }
    .basket-form-price-wrp{
        display: flex;
        justify-content: space-between;
        .cost-amount{
            width: 205px;
            text-align: center;
        }
    }
    .basket-body .order-right-bonus{
        //width: 440px !important;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 10px !important;
        margin-top: -10px !important;
        padding: 0;
        background-color: rgba($color: #000000, $alpha: 0);
        margin-left: -37px !important;
    }
    .cost-amount{
        font-size: 25px !important;
        line-height: 25px;
        font-weight: 400;
    }
    .basket-card-name{
        padding-right: 0;
    }
    /*
    .basket-body-cost{
        //width: 42%;
    }
    .baskes-del-btn{
        margin-top: -2px;
    }
    .modal.show .basket-modal-content{
        max-width: 700px;
        width: 90%;
    }
    .basket-modal-content{

        .modal-body{
            padding: 85px 100px 75px 110px;
        }

        .basket-modal-title{
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 15px;
            &:before{
                left: -40px;
                top: 0px;
            }
        }

        .basket-modal-text{
            margin-top: 50px;
            font-size: 23px;
            line-height: 32px;

        }
        .modal-bonus-count{
            color: #FD585E;
            font-weight: 500;
        }
    }*/
}

@media(min-width: 900px){
    .basket-card-name, .basket-header .basket-header-name{
        width: 35%;
    }
    .basket-cost-wrp p{
        font-size: 20px;
    }
}