.h3-basket{
    color: #313131 !important;
    margin-top: 40px;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.basket-form{
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 50px;
    max-width: 1240px;
}

.basket-user-wrp{
    input{
        width: 100%;
        margin-bottom: 15px;
    }
    margin-bottom: 15px;
}

.basket-form-title{
    font-size: 18px;
}

.basket-form-radio-wrp{
    label{
        margin-bottom: 15px;
    }
}

.basket-pay-wrp{
    margin-bottom: 20px;
    
}

.basket-final-wrp{
    margin-bottom: 30px;
    input{
        width: 100%;
    }
}
.form-red-btn{
    color: #fff;
    background-color: #FD585E;
    border-radius: 10px;
    height: 49px;
    line-height: 49px;
    width: 100%;
    transition: .3s;
    border: 1px solid #fff;
    margin-top: 15px;
    &:hover{
        border-color: #FD585E;
        background-color: #FC3F45;
        font-size: 17px;
        //color: #FD585E;
    }
}

.basket-final-wrp{
    margin-top: 30px;
}

.basket-form-radio-wrp{
    input{
        width: 100%;
        margin-bottom: 15px;
    }
    label{
        width: 100%;
    }
}

.basket-form-price-wrp{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    max-width: 675px;
   // margin-right: 100px;
    i{
        font-style: normal;
        font-size: 18px;
       // width: 165px;
    }
}

.fotm-inp-btn-wrp{
    margin-bottom: 30px;
}

.final-amount{
    font-size: 20px;
    font-weight: 600;
    
}

.final-amount-count{
    margin-left: auto;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.final-amount-wrp{
    display: flex;
    max-width: 500px;
}

@media(min-width:810px){
    .basket-form-price-wrp{

        i{

            width: 165px;
        }
    }
    .basket-form-title{
        font-size: 25px;
        line-height: 25px;
    }
    .basket-form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .basket-user-wrp, .basket-delivery-wrp{
            width: 38%;
        }
        .basket-pay-wrp, .basket-final-wrp{
            width: 57%;
        }
    }
    .basket-final-wrp{
        margin-top: -30px;
    }
    .h2-basket{
        margin-top: 50px;
    }
    .fotm-inp-btn-wrp{
        display: flex;
        button{
            margin-top: 0;
            margin-left: 20px;
            max-width: 175px;
        }
    }
    .fotm-inp-btn-wrp{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .basket-form-price-wrp{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .final-amount{
        margin-bottom: 0;
    }
    .final-amount-wrp{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .basket-form-title{
        margin-bottom: 30px;
    }
}


@media(min-width:1010px){
    .basket-form{
        .basket-user-wrp, .basket-delivery-wrp{
            width: 38%;
        }
        .basket-pay-wrp, .basket-final-wrp{
            width: 54%;
        }
    }
    .basket-final-wrp input {
        width: 50%;
    }
    .final-amount-wrp{
        width: 50%;
    }
}
@media(min-width:1240px){
    .basket-form{
        margin: 40px auto;
    }
    .h3-basket, .h2-basket{
        padding-left: 0;
        margin-left: calc(50vw - 620px);
    }
    .h3-basket{
        margin-top: 60px;
    }
}