@media (min-width: 992px) {
  .navbar {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 20px !important; }
  .navbar .mobile-user-bar {
    display: none !important; }
  .navbar-collapse {
    flex-direction: column; }
  .navbar-brand {
    color: #313131; }
  .nav-link--tel {
    color: rgba(49, 49, 49, 0.8);
    font-size: 15px;
    line-height: 15px;
    font-weight: 600; }
    .nav-link--tel span {
      margin-left: 17px;
      text-transform: initial;
      font-weight: 300; }
  .nav-link {
    color: rgba(49, 49, 49, 0.8);
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    padding-top: 26px;
    padding-bottom: 26px; }
    .nav-link:hover {
      color: #FD454D; }
  .dropdown-menu-hover > .dropdown-toggle {
    padding-top: 26px !important;
    padding-bottom: 26px !important; }
  .nav-list--desktop {
    width: 100%;
    height: 62px;
    align-items: center;
    justify-content: space-between; }
  .social-wrp {
    display: flex;
    width: 120px;
    justify-content: space-between; }
  .nav-item-1strow {
    display: flex;
    width: 200px;
    justify-content: space-between; }
  .nav-list--2 {
    height: 62px;
    align-items: center;
    width: 100%;
    justify-content: space-between; }
  .nav-buttons {
    background-color: #fff;
    border: none; }
  .desktop-user-bar {
    width: 175px; }
  .social-wrp {
    align-items: center; }
    .social-wrp a {
      padding: 0 !important; }
      .social-wrp a img {
        height: 20px;
        width: 20px; }
  .nav-line {
    display: block;
    width: calc(100vw - 115px);
    left: 98px;
    position: absolute; }
  .dropdown-menu-hover .dropdown-menu-show {
    transition: all 0.3s;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block; }
  .dropdown-menu-hover:hover .dropdown-menu-show {
    transform: scale(1); }
  .dropdown-menu--1 .dropdown-menu--2 {
    transition: all 0.3s;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block; }
  .dropdown-menu--1:hover .dropdown-menu--2 {
    transform: scale(1); }
  .dropdown--2:after {
    display: none !important; }
  .dropdown-submenu {
    position: relative; }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px; }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block; }
  .dropdown-menu-hover:hover > .dropdown-menu {
    display: block; }
  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px; }
  .dropdown-submenu.pull-left {
    float: none; }
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px; }
  .dropdown-submenu {
    border: none !important; }
    .dropdown-submenu a {
      padding: 10px 20px; }
  .dropdown-menu {
    padding: 0 !important;
    margin: -1px 0 0 !important;
    border-radius: 0 !important; }
  .dropdown-submenu-1 {
    margin: 0 !important;
    margin-left: -1px !important;
    margin-top: -1px !important; }
  .dropdown-submenu-2 {
    margin-left: -1px !important; }
  .dropdown-menu-show {
    left: 95px !important; }
  .dropdown-position-1 {
    left: 195px !important; }
  .dropdown-position-2 {
    left: 290px !important; }
  .dropdown-position-3 {
    left: 385px !important; }
  .dropdown-position-4 {
    left: 480px !important; }
  .dropdown-position-5 {
    left: 575px !important; }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #FD454D !important;
    background-color: #fff !important;
    border: 1px solid rgba(219, 219, 219, 0.7) !important; }
  .dropdown-item {
    border: 1px solid rgba(219, 219, 219, 0.7) !important; } }

.dropleft .dropdown-toggle::before {
  display: none !important; }

@media (min-width: 1220px) {
  .nav-item-1strow {
    margin-right: 78px; }
  .nav-line {
    display: block;
    width: calc(50vw + 600px - 98px);
    left: 98px;
    position: absolute;
    top: 45px; } }
