@charset "UTF-8";
@media (max-width: 992px) {
  .nav-item--desktop {
    display: none !important; }
  .navbar-collapse {
    display: flex;
    flex-direction: column; }
  .nav-list--desktop {
    order: 2;
    align-self: stretch; }
  .navbar {
    padding: 10px 0 !important; }
  .navbar-toggler {
    margin-left: 15px;
    width: 23px;
    height: 16px;
    position: relative;
    transition: all .4s ease; }
  .burger-line {
    transition: all .4s ease;
    position: absolute;
    display: block;
    width: 23px;
    left: 0;
    height: 2px;
    background-color: #313131; }
  .burger-line--1 {
    top: 0px; }
  .burger-line--2 {
    top: 6px; }
  .burger-line--3 {
    bottom: 0; }
  .toggler-open .burger-line--1 {
    transform: rotate(45Deg);
    top: 6px; }
  .toggler-open .burger-line--2 {
    left: 25px;
    opacity: 0; }
  .toggler-open .burger-line--3 {
    bottom: 4px;
    transform: translateY(-100%) rotate(-45Deg); }
  .mobile-user-bar {
    width: 50%; }
    .mobile-user-bar button {
      background-color: rgba(0, 0, 0, 0);
      border: none; }
  .desktop-user-bar__item {
    display: none !important; }
  .nav-item a {
    color: rgba(49, 49, 49, 0.8); }
  .navbar-collapse {
    width: 100%;
    background: #FAFAFA;
    padding-bottom: 80px; }
  .dropdown-submenu-1 {
    margin-left: 0 !important; }
    .dropdown-submenu-1 a {
      padding-left: 50px !important; }
  .dropdown-submenu-2 {
    margin-left: 0 !important; }
    .dropdown-submenu-2 a {
      padding-left: 75px !important; }
  .nav-item {
    text-transform: uppercase;
    outline: none;
    margin-bottom: -1px;
    border: 1px solid rgba(219, 219, 219, 0.7); }
  .dropdown .dropdown-menu {
    animation-name: example;
    animation-duration: 0.5s; }
  @keyframes example {
    from {
      opacity: .0; }
    to {
      opacity: 1; } }
  .dropdown-menu--2 {
    margin-left: 0 !important; }
    .dropdown-menu--2 a {
      padding-left: 50px !important; }
  .nav-link {
    outline: none;
    padding-left: 25px !important; }
    .nav-link:hover {
      color: #FD454D; }
  .nav-item-1strow {
    margin-bottom: -2px; }
    .nav-item-1strow a {
      border-bottom: 1px solid rgba(219, 219, 219, 0.7); }
  .dropdown-menu-hover {
    position: relative; }
  .dropdown-menu-hover::after {
    display: block;
    content: '';
    position: absolute;
    top: 13px;
    right: 25px;
    z-index: 10;
    width: 10px;
    background-repeat: no-repeat;
    height: 10px;
    background-image: url("../img/dropdown-arrow.svg"); }
  .dropdown-open .nav-link {
    color: #FD454D; }
  .nav-line {
    display: none; }
  .dropdown-open::after {
    background-image: url("../img/dropdown-arrow-open.svg"); }
  .navbar-nav {
    align-self: stretch; }
  .navbar-nav .dropdown-menu {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0); }
    .navbar-nav .dropdown-menu a {
      padding: .5rem 25px;
      margin-bottom: -1px;
      text-transform: initial;
      font-weight: 300;
      padding-left: 25px;
      border: 1px solid rgba(219, 219, 219, 0.3); }
  .navbar-brand {
    color: #313131; }
    .navbar-brand:hover {
      color: #FD454D; } }

.social-wrp {
  display: none; }

.btn-notification {
  position: relative; }
  .btn-notification span {
    position: absolute;
    right: -9px;
    z-index: 3;
    top: -1px;
    width: 16px;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    height: 16px;
    border-radius: 50%;
    background-color: #FD454D; }

/* АНИМАЦИЯ ДЛЯ ПК
.dropdown {
  .dropdown-menu {
      transition: all 0.5s;
      overflow: hidden;
      transform-origin: top center;
      transform: scale(1,0);
      display: block;
  }
  &:hover {
      .dropdown-menu {
          transform: scale(1);
      }
  }
}*/
.dropdown-toggle::after {
  display: none !important; }

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%; }

.sticky + .category-header {
  padding-top: 102px; }

.sticky + .header-banner {
  padding-top: 102px; }

.sticky + .product-header {
  margin-top: 102px !important; }

.nav-item .nav-link {
  font-weight: 400; }

.nav-link--tel {
  font-weight: 600 !important; }

@media (max-width: 990px) {
  .navbar {
    width: 100%;
    position: fixed !important;
    z-index: 100;
    background-color: #fff;
    top: 0; }
  .search-input--mobile {
    margin-bottom: 0 !important; }
  .category-header, .header-banner, .product-header {
    margin-top: 130px; }
  .navbar-collapse {
    margin-top: 20px;
    padding-bottom: 0; } }
