.search-input--mobile {
  width: calc(100% - 20px);
  margin: 10px;
  height: 49px;
  border-radius: 10px;
  background: linear-gradient(91.07deg, #FFFFFF 19.2%, #F7F7F7 93.9%);
  box-shadow: inset 15px 15px 32px rgba(241, 241, 241, 0.61);
  border: 2px solid #F0F0F0;
  padding-left: 15px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 95%;
  outline: none; }

.close-search {
  display: none; }

.search-wrp {
  width: 100%; }

.search-btn img {
  width: 20px;
  height: 20px; }

.favorite-btn img {
  width: 21px;
  height: 19px; }

.basket-btn img {
  width: 19px;
  height: 21px; }

.user-btn img {
  width: 20px;
  height: 20px; }

@media (min-width: 990px) {
  .search-wrp {
    transition: .2s ease;
    opacity: 0;
    width: auto;
    z-index: -1;
    position: absolute;
    top: 125px;
    right: 8px;
    background-color: #fff;
    padding: 25px 5px 20px;
    border: 1px solid rgba(230, 230, 230, 0.72);
    border-radius: 10px; }
  .search-btn img {
    width: 20px;
    height: 20px; }
  .favorite-btn img {
    width: 21px;
    height: 19px; }
  .basket-btn img {
    width: 19px;
    height: 21px; }
  .user-btn img {
    width: 22px;
    height: 22px; }
  .search-input--mobile {
    border-radius: 0;
    border: none;
    background-color: #fff;
    background: #fff;
    background-image: url("../img/search-red.svg");
    background-repeat: no-repeat;
    box-shadow: none;
    width: 500px;
    background-size: 20px 20px;
    background-position-x: 468px;
    height: 30px;
    background-position-y: center;
    border-bottom: 1px solid #FD585E; }
  .search-wrp--show {
    opacity: 1;
    z-index: 120; }
  .close-search {
    position: absolute;
    background-color: #fff;
    border: none;
    display: block;
    top: 5px;
    right: 15px;
    opacity: .8; }
    .close-search:hover {
      opacity: .5; } }

.search--desktop-modal {
  display: none; }
