.modal-purchase-notif{
    z-index: -1;
    opacity: 0;
    transition: .3s;
    background-color: #fff;
    border: 1px solid rgba(230, 230, 230, 0.72);
    border-radius: 10px;
    width: 90%;
    max-width: 603px;
    height: 230px;
    left: 50%;
    top: 50%;
    margin-top: -115px;
    margin-left: -45%;
    bottom: 40px;
    padding: 30px 10px 20px;
    position: fixed;
    h4{
        margin-bottom: 10px;
    }
    p{
        color: rgba(49, 49, 49, 0.8);
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 30px;
    }
    .btn-wrp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            width: 47%;
        }
        a{
            width: 47%;
            text-align: center;
            line-height: 45px;
            display: block;
            transition: .3s;
            height: 44px;
            line-height: 44px;
            border: 1px solid #FD585E;
            border-radius: 10px;
            color: #FD585E;
            &:hover{
                border-color: #fff;
                text-decoration: none;
                font-size: 17px;
                box-shadow: 0 0 0 1px #FC3F45;
            }
        }
    }
}



.purchase-notif__close{
    background-color: rgba(230, 230, 230, 0);
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
}

@media(min-width: 680px){
    .modal-gift__close{
        display: none;
    }
    .modal-purchase-notif{
        left: 50%;
        top: 50%;
        margin-top: -150px;
        margin-left: -300px;
        width: 600px;
        height: 300px;
        padding: 60px 60px 80px;
        h4{
            margin-bottom: 25px;
            font-size: 30px;
            line-height: 30px;
            font-weight: 600;
        }
        p{
            color: rgba(49, 49, 49, 0.8);
            font-size: 16px;
            line-height: 17px;
            margin-bottom: 65px;
        }
        .btn-wrp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 47%;
            }
            a{
                width: 47%;
                text-align: center;
                line-height: 45px;
                display: block;
                transition: .3s;
                height: 44px;
                line-height: 44px;
                border: 1px solid #FD585E;
                border-radius: 10px;
                color: #FD585E;
                &:hover{
                    border-color: #fff;
                    text-decoration: none;
                    font-size: 17px;
                    box-shadow: 0 0 0 1px #FC3F45;
                }
            }
        }
    }
}
.modal-gift{
    //max-width: 380px;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    cursor: pointer;
    left: 20px;
    img{
        width: 300px;
    }
    .modal-gift__close{
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        right: 0;
        opacity: 0.6;
        top: 10px;
        img{
            width: 10px;
            height: 10px;
            
        }
    }
}

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0em;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: -1;
    opacity: 0;
    transition: .3s;
}

.modal-bg--show{
    z-index: 100;
    opacity: 1;
}


.modal-sign-up{
    //z-index: -1;
    //opacity: 0;
    display: none;
    margin-left: 5%;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    width: 90%;
    
    .button-red{
        margin-right: auto;
        margin-left: 10px;
        margin-top: 15px;
        
    }
    display: flex;
    img{
       display: none; 
       height: 400px;
       margin-left: -1px;
       margin-top: -1px;
    }
    h2{
        font-size: 25px !important;
        line-height: 25px !important;
    }
    .gift-title{
        padding: 0;
        font-size: 16px !important;
        line-height: 24px !important;
        margin-left: 10px;
        padding-bottom: 5px;
        b{
            font-weight: 600;
        }
    }
    .promo-radio{
        margin-bottom: 20px;
    }
    .promo-check-label{
        margin-top: 5px;
        line-height: 19px !important;
    }
    .promo-check-label::before{
        width: 34px !important;
        height: 30px !important;
    }
    .sign-up-wrp{
        padding: 20px 15px;
    }
    max-width: 400px;
    //width: 100%;
    height: 400px;
    background-color: #fff;
    border: 1px solid rgba(230, 230, 230, 0.72);
    box-sizing: border-box;
    border-radius: 10px;
    h2{
        //margin-top: 20px;
        margin-left: 10px;
    }
}

.modal-sign-up__close{
    position: absolute;
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        margin-top: 5px;
        right: 15px;
        opacity: 0.6;
        top: 10px;
        img{
            width: 10px !important;
            height: 10px !important;
            
        }
}

@media(min-width:400px){
    
    .modal-sign-up{
        width: 100%;
        top: 50%;
        margin-top: -200px;
        left: 50%;
        margin-left: -200px;
        img{
            display: block; 
         }
        }
}

.modal-purchase-notif--show{
    z-index: 110;
    opacity: 1;
}

@media(min-width:1240px){
    .modal-gift{
        
        left: calc(50% - 640px);
    }
}

.modal-sign-up{
    display: none;
}

.sign-up--show{
    z-index: 120;
    display: flex;
    animation: bounce 0.6s;
}

.sign-up--hide{
    display: flex;
    animation: bounce-reverce 0.6s;
}

.modal-gift--hide{
    transition: .6s;
    opacity: 0;
}
@keyframes bounce{
    0% {
        transform: translateY(2000px);
    }
    70% {
        transform: translateY(-30px)
    }

    90% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bounce-reverce{
    0% {
        transform: translateY(0);
        
    }
    8% {
        transform: translateY(10px);
       
    }

    70% {
        transform: translateY(-30px)
    }
    90%{
        transform: translateY(600px);
    }
    100%{
        transform: translateY(1500px);
    }
}