/*
.prod-descr-body{
    transition: max-height .8s ;
    height: 100%;
    max-height: 0px;
    overflow: hidden;
}

.decr-body-active{
    max-height: 5000px;
}*/
.prod-line-wrp{
    display: none;
}


.prod-descr-btn{
    position: relative;
    width: 100%;
    border: none;
    background-color: #fff;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    height: 50px;
    //color: #FD585E;
    color: rgba(49, 49, 49, 0.8);
    border-bottom: 2px solid rgba(141, 141, 141, 0.3);
}
.plus-rotate{
    transform: rotate(90Deg);
}
.prod-descr-body{
    border-bottom: 2px solid rgba(141, 141, 141, 0.3);
    padding-top: 15px;
    color: rgba(49, 49, 49, 0.8);
}
.prod-text-list{
    margin-left: 20px;
    color: #FD585E;
    span{
        
        color: rgba(49, 49, 49, 0.8);
    }
    li{
        margin-bottom: 5px;
    }
}
.subcategory-prod-text{
    font-weight: 600;
}
.feedback-count{
    margin-left: 7px;
    font-weight: 500;
}
.descr-btn-plus, .descr-btn-plus i{
    display: block;
    position: absolute;
    content: '';
    width: 18px;
    border-radius: 2px;
    height: 2px;
    top: calc(50% - 1px);
    right: 10px;
    background-color: rgba(49, 49, 49, 0.8);
    transition: all .3s;
}
.descr-btn-plus i{
    right: 0;
}
.prod-descr-wrp{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.color-red{
    color: #FD585E;
}

@media(min-width:790px){
    .product-wrp{
    }
    .prod-descr-wrp{
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        //position: absolute;
        overflow: hidden;

        
    }
    .descr-btn-plus, .descr-btn-plus i{
        display: none;
    }
    .prod-descr-btn--1{
        padding-left: 10px;
        margin-left: auto;
        text-align: left;
    }
    .prod-descr-btn--2{
        text-align: center;
    }
    .prod-descr-btn--3{
        padding-right: 10px;
        margin-right: auto;
        text-align: right;
    }
    .prod-descr-btn{
        order: 1;
        width: 250px;
        border: none;
        margin-bottom: 20px;
    }
    .prod-descr-body{
        order: 2;
        transition: .5s;
        
    }
    
    .prod-line-wrp{
        display: block;
        position: absolute;
        width: 100%;
        left: 50%;
        margin-left: -375px;
        z-index: 3;
        max-width: 750px;
    }

    .prod-line-back{
        width: 100%;
        height: 2px;
        background-color: rgba(141, 141, 141, 0.3);
        height: 2px;
        border: none;
        position: absolute;
        margin: 0;
        top: 50px;
    }
    .prod-line-front{
        position: absolute;
        top: 49px;
        left: 0;
        margin: 0;
        background-color: #FD585E;
        width: 115px;
        height: 3px;
    }
    .prod-descr-body{
        border: none;
    }

    .prod-descr-body, .prod-descr-text, .prod-lext-list{
        font-size: 20px;
        
    }
    .prod-text-list{
        margin-left: 70px;
    }
}

.prod-descr-body{
    margin-bottom: 0px;
}

.descr-body--right{
    transform: translateX(150%);
}
.descr-body--center{
    transform: translateX(0%);
}
.descr-body--left{
    transform: translateX(-150%);
}