.product-header{
    width: 100%;
    height: 25px;
    background: linear-gradient(180deg, #FD525A 1.12%, #FD5960 21.92%, #FD5C62 35.37%, #FD5E66 53.04%, #FC5F66 65.93%, #FA5D64 77.71%, #FD5C62 97.88%);
}

.product__img-wrp{
    position: relative;
    max-width: 380px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    .slick-vertical .slick-slide{
        height: 70px;
    }
    .slick-vertical{
        height: 268px;
    }
}

.product__img--active{
    width: 65%;
    max-width: 214px;
    text-align: center;
    display: flex;
    height: 244px;
    justify-content: center;
    align-items: center;
    max-height: 244px;
    border: 1px solid rgba(244, 244, 244, 0.7);
    border-radius: 8px;
    img{
        //width: 100%;
        max-width: 220px;
        max-height: 200px;
        object-fit: contain;
    }
}
.product__img-scroll{
    width: 20%;
    height: 204px;
    img{
        width: 100%;
    }
    
}

.img-scroll__wrp{
    margin-left: 6px;
    width: 100%;
    //height: 244px;
    max-width: 62px;
    max-height: 71px;
    border: 1px solid rgba(244, 244, 244, 0.7);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        //width: 100%;
        max-width: 55px;
        max-height: 65px;
        object-fit: contain;
    }
}

.product__img-scroll .slick-prev{
    font-size: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;    
    background-position: center;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url('../img/product-arrow.svg');
    background-position: center;

}

.product__img-scroll .slick-next{
    //margin-top: -20px;
    font-size: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 100%;
    background-position: center;
    transform: rotate(180Deg);
    height: 5px;
    background-repeat: no-repeat;
    background-image: url('../img/product-arrow.svg');
    background-position: center;

}

.product-banner{
    width: 51px;
    height: 33px;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    line-height: 33px;
    left: 0;
    font-weight: 400;
}

.product-banner--1{
    top: 15px;
    background-color: #FD585E;
    color: #fff;
}
.product-banner--2{
    top: 65px;
    background-color: #F0B667;
    color: #fff;
}

.product-banner--3{
    top: 115px;
    background-color: #67B6F0;
    color: #fff;
}

.product-wrp{
    padding: 0 20px;
}

@media (min-width:750px){
    .product-wrp{
        max-width: 1260px;
        margin: 0 auto;
        display: flex;
    }
    .product__img-wrp{}
    .product-banner--1{
        top: 20px;
    }
    .product-banner--2{
        top: 70px;
    }
    .product-banner--3{
        top: 120px;
    }

    .product-settings{
        display: grid;
        max-width: 550px;
        grid-template-columns: 1fr 1fr;

    }

    .product-name{
        margin-top: 0 !important;
        margin-bottom: 0px;
        grid-column-start: 1;
        grid-column-end: 3;
        order: 1;
    }
    .rating-area{
        height: 30px;
        order: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .product-small-talk{
        order: 3;
    }
    .product-price__wrp{
        margin-top: 10px !important;
        order: 4;
    }

    .color-wrp--product{
        order: 5;
        margin-top: 0 !important;
    }
    .product-btn-wrp{
        order: 6;
        margin-top: 0 !important;
        margin-bottom: 110px !important;

    }

    .product__img-wrp{
        max-width: 505px;
    }
    .product__img--active{
        height: 440px;
        max-height: 440px;
        max-width: 385px;
    }

    .product__img--active img {
        max-width: 360px;
        max-height: 400px;
    }
    .product__img-scroll{
        width: 20%;
        height: 440px;
        img{
            width: 100%;
        }
        
    }
    .product__img-wrp .slick-vertical {
        height: 440px;
        margin-top: -30px;
    }

    .product__img-wrp{
        .slick-vertical .slick-slide{
            height: 133px;
            //margin-bottom: 15px;
        }
       
    }

    .img-scroll__wrp {
        margin-left: 6px;
        width: 100%;
        max-width: 80px;
        height: 121px !important;
        max-height: 121px;
    }
    .img-scroll__wrp img {
        margin-top: 8px;
        max-width: 70px;
        max-height: 110px;
        
    }

    .product-small-talk, .product-price__wrp{
        margin-top: -10px !important;
    }
    .product-price__wrp{
        margin-top: -15px !important;
    }

    .product-wrp{
        margin-bottom: 50px;
    }
}

@media(min-width: 980px){
    .product__img--active{
        width: 385px;
    }
}

.product-text-position, .popular-prod__wrp-1{
    transition: .6s;
}

