.prod-review-user{
    p{
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 20px;
    }

    .user-name{
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
    }

    .review-rating-wrp{
        margin-top: 7px;
        p{
            margin-bottom: 1px;
        }
    }
}

.review-rating-wrp{
    p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
    }
}

.review-text{
    font-size: 14px;
    margin: 10px 0 15px 0;
}

.prod-review{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(219, 219, 219, 0.7);
}

.prod-review:last-child{
    border-bottom: 0px solid rgba(219, 219, 219, 0.7);

}

@media(min-width: 600px){
    .prod-review{
        display: grid;
        grid-template-columns: auto auto;
    }

    .review-rating-wrp{
        /*
        grid-row-start: 1;
        grid-row-end: 2;*/
    }

    .review-text{
        margin-top: 0;
        margin-left: 15px;
    }
}


@media(min-width: 800px){

    .prod-review-user{
        
    
        .user-name{
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 7px;
        }
    
        
    }

    .review-text{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 100px;
        font-size: 18px;
        line-height: 22px;
    }

    .prod-review{
        padding: 0 20px;
        margin-bottom: 35px;
        padding-bottom: 35px;
    }

}