.order-3-input-wrp input {
  width: 100%;
  margin-bottom: 15px;
  background: #fff !important;
  background-color: #fff;
  box-shadow: none; }

.order-3-input-wrp textarea {
  width: 100%;
  background: #fff !important;
  background-color: #fff;
  box-shadow: none;
  max-height: 100px;
  min-height: 100px;
  height: 100%; }

.order-3-input-wrp .order-3-input-footer {
  margin-top: 15px; }

@media (min-width: 900px) {
  .order-3-input-wrp {
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 20px; }
  .order-3-input-footer {
    display: flex;
    flex-direction: row-reverse; }
    .order-3-input-footer button {
      width: 255px;
      margin-top: 0; } }

@media (min-width: 900px) and (max-width: 1040px) {
  .order-3-input-footer .check-wrp label {
    line-height: 25px; } }
