.h3-basket--order {
  margin-bottom: -30px; }

.order-form {
  margin-bottom: 60px; }

.region-select-wrp {
  margin-top: 20px; }
  .region-select-wrp .select {
    width: 100%;
    max-width: 1315px;
    margin-left: 0;
    background: linear-gradient(91.07deg, #FFFFFF 19.2%, #F7F7F7 93.9%);
    box-shadow: inset 15px 15px 32px rgba(241, 241, 241, 0.61);
    border-radius: 10px;
    border: 2px solid #F2F2F2;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto; }
    .region-select-wrp .select .new-select:after {
      opacity: 1; }
    .region-select-wrp .select option {
      position: relative; }
    .region-select-wrp .select .new-select__item {
      border-bottom: 1px solid #F2F2F2;
      padding-right: 20px; }
      .region-select-wrp .select .new-select__item:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      .region-select-wrp .select .new-select__item:last-child {
        border-bottom: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; }
    .region-select-wrp .select .new-select__list {
      border-radius: 10px;
      border: 2px solid #F2F2F2;
      margin-top: 5px; }

.order-form {
  margin-top: 50px; }

.order-right {
  border: 3px solid #F4F4F4;
  border-radius: 10px;
  width: 90%;
  padding: 0 30px 0 20px;
  margin: 0 auto;
  margin-top: 40px;
  max-height: 360px; }
  .order-right header {
    background: #F8F8F8;
    width: calc(100% + 50px);
    margin-left: -20px;
    padding: 15px 20px;
    margin-bottom: 20px; }
    .order-right header p {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 0px; }
  .order-right footer {
    margin-bottom: 20px; }
    .order-right footer button {
      margin-top: 20px;
      width: calc(100% + 10px); }

.order-left {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  transition: .3s; }

.order-next-btn {
  transition: .5s ease-out;
  z-index: 1;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0px; }

.order-right-line {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .order-right-line b, .order-right-line b span {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500 !important; }
  .order-right-line p {
    margin-bottom: 5px; }

.total-amount-del {
  top: -31px;
  position: absolute;
  right: -20px; }

.order-right-bonus {
  white-space: break-spaces;
  display: flex;
  justify-content: center;
  width: calc(100% + 50px);
  margin-left: -20px;
  margin-top: 20px;
  padding-left: 20px;
  padding: 12px 0 7px 20px;
  background-color: #F2F2F2;
  cursor: pointer;
  color: #FD585E;
  text-decoration: underline; }
  .order-right-bonus i {
    font-style: normal; }
  .order-right-bonus img {
    margin-right: 10px;
    margin-top: 0px;
    width: 22px;
    height: 22px; }
  .order-right-bonus .i-right {
    margin-right: 0;
    margin-left: 10px; }

.form-red-btn:disabled {
  background: #F8F8F8;
  color: #9A9494;
  border: none; }
  .form-red-btn:disabled:hover {
    border: inherit;
    font-size: inherit;
    line-height: inherit; }

.h3-basket--order {
  margin-top: 20px; }

@media (min-width: 900px) {
  .order-form {
    max-width: 1240px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px; }
  .order-left {
    padding-top: 10px;
    overflow: hidden;
    height: 800px;
    width: 53%; }
  .order-right {
    width: 42%;
    margin-top: 0px;
    margin-right: 0; }
  .region-select-wrp {
    display: flex;
    justify-content: space-between; }
    .region-select-wrp .select {
      width: 47%;
      margin: 0;
      height: 50px; }
  .order-next-btn {
    width: 235px;
    margin-top: 30px;
    margin-right: 0; }
  .order-right {
    margin-top: 10px; }
    .order-right footer {
      display: flex;
      justify-content: center; }
      .order-right footer button {
        width: 265px;
        margin-left: 10px; } }
