.order-4--subline {
  width: 100%;
  margin-top: -14px;
  padding: 18px 20px 8px;
  border: 1px solid #E4E4E4;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px; }
  .order-4--subline span {
    margin-right: 20px;
    color: rgba(49, 49, 49, 0.6); }
    .order-4--subline span img {
      margin-left: 4px; }

@media (min-width: 900px) {
  .order-4 {
    padding-top: 0px; }
  .order-3 {
    padding-top: 0px; }
  .order-5 {
    padding-top: 0px; } }

.input--error {
  border-color: #FD585E !important; }

.order-2-line--delivery {
  transition: .3s; }

.order-2-line--error {
  border-color: #ffa1a4 !important; }
