.order-2-line--city, .order-2-line {
  background: linear-gradient(91.07deg, #FFFFFF 19.2%, #F7F7F7 93.9%);
  box-shadow: inset 15px 15px 32px rgba(241, 241, 241, 0.61);
  border-radius: 10px;
  height: 60px;
  padding: 0 35px 0 45px;
  border: 2px solid #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px; }
  .order-2-line--city p, .order-2-line--city span, .order-2-line p, .order-2-line span {
    font-size: 18px;
    line-height: 18px;
    color: rgba(49, 49, 49, 0.6);
    margin-bottom: 0; }
  .order-2-line--city p, .order-2-line p {
    margin-right: auto;
    margin-left: 5px; }
  .order-2-line--city button, .order-2-line button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #FD585E;
    text-decoration: underline; }

@media (max-width: 600px) {
  .order-2-line {
    padding: 0 15px 0 15px; }
    .order-2-line p, .order-2-line span {
      font-size: 16px;
      line-height: 16px; }
  .order-2-line--city {
    padding-right: 15px; }
  .order-2-line--city p, .order-2-line--city span, .order-2-line p, .order-2-line span {
    font-size: 16px;
    line-height: 16px; }
  .order-2-line--city span, .order-2-line span {
    font-size: 0px; }
  .order-2-line--city button, .order-2-line button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #FD585E;
    text-decoration: underline; } }

.order-2 {
  width: 90%; }

.order-left {
  position: relative;
  overflow: hidden; }

.order-content {
  display: none;
  width: 100%; }

.order-1 {
  display: block; }

@media (max-width: 700px) {
  .order-content--transition {
    transition: .1s; } }

.order-content--transition {
  transition: .5s ease-in-out; }

.order-delivery-btn:hover .selected-city {
  color: #FD585E; }

.order-2-line--city {
  display: flex;
  width: 100%;
  padding-left: 60px;
  height: 60px;
  position: relative;
  justify-content: space-between; }
  .order-2-line--city .order-2-city-img {
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(91.07deg, #FFFFFF 71.94%, #F7F7F7 93.9%);
    box-shadow: inset 15px 15px 32px rgba(241, 241, 241, 0.61);
    border-radius: 10px; }

.order-content-title {
  font-size: 25px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 25px; }

.order-pos--left {
  transform: translateX(-1000px); }

.order-pos--right {
  transform: translateX(1000px); }

.order-pos--center {
  transform: translateX(0px); }
